<div id="<%= dom_id library %>">
  <p>
    <strong>Library name:</strong>
    <%= library.library_name %>
  </p>

  <p>
    <strong>Opening time:</strong>
    <%= library.opening_time %>
  </p>

  <p>
    <strong>Closing time:</strong>
    <%= library.closing_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= library.user_id %>
  </p>

</div>
