
<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book name</th>
      <th scope="col">Author ID</th>
      <th scope="col">Created Date</th>
      <th scope="col">Updated Date</th>
      <th scope="col">View</th>

    </tr>
  </thead>
  <tbody>

<% i=1 %>

  <% @books.each do |book| %>  
<% # if book.user_id == current_user.id %>

<% user = User.find_by(id: book.library_id) %>
   
      <tr>
      <th scope="row"> <%= i %> </th>
       <td> <%=  book.book_name %></td>
      <td><%= book.user_id %> </td>
      <td> <%= book.created_at %> </td>
      <td> <%= book.updated_at %> </td>
      <td>   <%= link_to "Show this book", book , class: "btn btn-success btn-sm " %> </td>
    </tr>

    <% i=i+1 %>

  <% #end %>

  <% end %>
</div>

<% if user_signed_in? %>
<%= link_to "Add New book", new_book_path , class: "btn btn-success btn-sm mb-5" %>
<% end %>

</tbody>
</table>